@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('resize-176415454452355855pexels2.jpg') no-repeat center/cover;
}

/* MAIN CONTAINER */
.container {
    width: 85%;
    max-width: 900px;
    margin: 10px auto;
    padding: 1px 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.1);
}
.weatherApp{
    max-width: 900px;
    margin: 10px auto;
    padding: 1px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
}
#getForecast i{
    margin-right: 0.2em;
}
/* HEADER */
header h1 {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
header h1 span{
    color: white;
}
#dateInput{
    border-radius: 0 50px 50px 0;
    margin-right: 0.3em;
} 
#cityInput{
    border-radius: 50px 0 0 50px;
} 
/* SEARCH BOX */
.search-box {
    display: flex;
    margin-bottom: 25px;
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(1px);
    width: 73%;
    border-radius: 50px;
    margin-left: 8em;
}

.search-box input {
    padding: 10px;
    border: none;
    width: 35%;
    background:transparent;
    color:  white;
}
input::placeholder{
    color: white;
}
.search-box button {
    padding: 12px 20px;
    background: linear-gradient(to right, #4ca0ff, #528fff);
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* TABS */
.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    border-bottom: 1px solid gray;
}
.tabs i{
    margin-right: 0.5em;
}

.tabs .tab {
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    padding-bottom: 8px;
    cursor: pointer;
}

.tabs .active {
    border-bottom: 2px solid #4ca0ff;
}

/* CONTENT */
.tab-content {
    display: none;
    border-bottom: 1px solid gray;
}

.tab-content.active {
    display: block;
}
/*temparature details flex*/
.tempDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* GLASS EFFECT */
.glass {
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(6px);
    padding: 0.1em 1em;
    font-size: 0.96em;
}
/*glass grid icons*/
.glass i{
    color: #4ca0ff;
    font-size: 1.2em;
    }
/* CURRENT */
.current-box h2 {
    font-size: 50px;
    color: white;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0;
}

.card {
    text-align: center;
    padding: 0.7em;
    color: white;
}
/*results of weather after search display*/
.resultsWeather{
    text-align: center;
    color: white;
    border-bottom: 1px solid gray;
}
.resultsWeather p{
    font-size: 0.7em;
}
/* HOURLY */
.hourly-wrapper {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px 0;
    margin-bottom: 1em;
}
/*Social media icons and api meteo bottom/footer*/
.socialmedia{
    text-align: center;
    color: white;
    margin-bottom: 1em;
    font-size: 0.8em;
}
.socialmedia p a{
    color: blueviolet;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 1.2em;
}
.socialmedia .icons a{
    font-size: 1.3em;
    margin: 0 0.2em;
    color: white;
}
.hour-card {
    min-width: 110px;
    padding: 15px;
    text-align: center;
    color: white;
    border-radius: 15px;
    background: rgba(255,255,255,0.12);
}

/* DAILY CARDS */
.daily-container {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
    padding: 1px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
}

.day-card {
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 0 20px 40px 20px;
    width: 160px;
    color: white;
    transition: transform 0.3s;
}

.day-card:hover {
    transform: translateY(-8px);
}
.temp-HL{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.3em;
    padding-top: 1.5em;
}
.day-card h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.day-card .high {
    color: orange;
}

.day-card .low {
  color: #4ca0ff;
  opacity: 1;
}

.day-card .rain {
    margin-top: 1em;
    color: #4ca0ff;
    font-weight: 00;
    font-size: 0.8em;
    text-align: center;
}

/* CHARTS */
.charts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 0;
}

.chart-box {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(16px);
    border-radius: 20px;
    padding: 24px;
    border: 1px solid rgba(255,255,255,0.1);
}

.chart-box h3 {
    text-align: center;
    margin-bottom: 16px;
    color: white;
    font-size: 18px;
}
#windyBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* keeps your UI on top */
}

